.adress {
    font-style: normal;
    text-decoration: none;
    text-align: center;
    @media screen and (min-width:1200px) {
        text-align: left;
    }
    >ul {
        margin-top: 20px;
    }
    > ul > li {
            margin-bottom: 8px;
            @media screen and (min-width:1200px) {
                margin-bottom: 9px;
            }
        }
    > ul>li:last-child {
            margin-bottom: 0;
        }
}

.adress__map {
    display: block;
    line-height: 1.71;
    min-width: 231px;
    color: $footer-link-map;
    text-decoration: none;
    @media screen and (min-width:1200px) {
            text-align: left;
        }
}

.adress__link {
    display: block;
    line-height: 1.71;
    color: $footer-link-item;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
            margin-bottom: 0px;
        }
    &:hover, &:focus {
            color: $header-hover-color;
        }
    @media screen and (min-width:1200px) {
        text-align: left;}
}
