.mobile-menu {
    display: flex;
    // justify-content: space-between;
    @media screen and (max-width: 767px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vw;
        // transform: translate(-50%, -50%);
        min-height: 796px;
        background-color: $header-background;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        flex-direction: column;
        justify-content: space-between;
        padding: 48px 40px;
        overflow: hidden;
        z-index: 20;
        transform: translateX(100%);
        transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 700ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
           .subscription__btn {
                    margin-top: 0;
                }
        &.is-open {
            transform: translateX(0);
        }
        // // > .mobile-menu__btn {
        // //     margin-left: auto;
        // }
    }
}

.mobile-menu__btn {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    // margin-top: 10px;
    // margin-right: 15px;
    // position: absolute;
    cursor: pointer;
    > svg {
        fill: currentColor;
    }
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover, &:focus {
                color: $button-background;
                transform: rotate(360deg);
            }
    @media screen and (min-width:767px) {
        display: none;
    }
}
.mobile-menu__btn--close {
        position: absolute;
        top: 10px;
        right: 25px;
        @media screen and (min-width:480px) {
        left: 436px;}
    }