.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
        @media screen and (max-width: 767px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vw;
        // transform: translate(-50%, -50%);
        min-height: 796px;
        background-color: $header-background;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        display: block;
        padding: 0px 40px;
        overflow: hidden;
        z-index: 20;
        transform: translateX(100%);
        &.is-open {
            transform: translateX(0);
        }
    }
}

.mobile-menu__btn {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    @media screen and (min-width:767px) {
        display: none;
    }
}
