$main-background: #f5f5f5;
$header-background: #ffffff;
$border-header: #ececec;
$header-text: #000000;
$web-color: #2196f3;
$header-link-color: #212121;
$header-hover-color: #2196f3;
$hero-title-background: #2f303a;
$header-adress-item: #757575;
$main-logo-color: #ffffff;
$button-background: #2196f3;
$button-text: #ffffff;
$work-list-item-color: #212121;
$work-list-item-txt: #757575;
$occup-team-logo: #212121;
$background-team: #f5f4fa;
$team-list-item-name: #212121;
$team-list-item-spec: #757575;
$footer-background: #2f303a;
$footer-link-item: rgba(255, 255, 255, 0.6);
$footer-link-map: #ffffff;
$footer-logo: #ffffff;
$btn-portfolio-txt: #212121;
$btn-portfolio-background: #f5f4fa;
$cases-list-item-name-txt: #212121;
$cases-list-item-spec-txt: #757575;
$gradient-hero: rgba(47, 48, 58, 0.4);
$client-svg: #afb1b8;
$project-background: rgba(33, 150, 243, 0.9);
$proect-card-border: #eeeeee;
$border-lable: rgba(33, 33, 33, 0.2);
$font-body: 'Roboto', sans-serif;
$font-size-body: 14px;