.work {
    padding-bottom: 60px;
    padding-top: 60px;
    @media screen and (min-width:1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.work__list {
    @media screen and (min-width:768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    }
    @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
    }
    li {
        width:calc((100% - 2 * 15px));
        margin-bottom: 30px;
        @media screen and (min-width:1200px) {
            width: calc((100% - 4 * 30px) / 4);
            margin-bottom: 0;
        }
        @media screen and (min-width:768px) and (max-width:1200px) {
            width: calc((100% - 2 * 30px) / 2);
            margin-bottom: 0;
            }
    }
    li:last-child {
        margin-bottom: 0;
    }
}
.work__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
.work__description {
    line-height: 1.71;
    color: $work-list-item-txt;
}
.work__svg {
    display: flex;
    height: 120px;
    border: none;
    border-radius: 4px;
    background-color: $btn-portfolio-background;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}